<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<div class="container tetx-center">

  <h1> Your password is :</h1>
  <h2 class="alert alert-success">{{password}}</h2>
  <a href="{% url 'home'%}"class="btn btn-info">Home</a>
</div>
